.DS_Store
node_modules/
dist/
static/ckeditor
gifs/
npm-debug.log
test/unit/coverage
test/e2e/reports
selenium-debug.log
.project

.classpath
.project
.settings
target
test-output/
bin/
*.ipr
*.iml
*.iws
.idea/
.DS_Store
.idea
overlays/
pom.xml.versionsBackup
*.log

**/.checkstyle
**/*.orig
.gradle/
**/MANIFEST.MF

classes/
