@import "iconfont.css";
[class^="el-icon-plat"], [class*=" el-icon-plat"] {
  font-family:"font family" !important;

  /* 以下内容参照第三方图标库本身的规则 */
  font-size: inherit;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
